<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <title>Cadastro de funcionários - Atento</title>
</head>
<body>
    <header class="border rounded">
        <h1 class="text-center ">Atento!</h1>
    </header>
    <main class="container">
        <form action="/funcionarios" method="post" class="border rounded p-5 mt-3">
            <fieldset class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="primeiro_nome">Nome:</label>
                        <input id="primeiro_nome" class="form-control" type="text" name="primeiroNome" placeholder="Nome" required="required"/>
                    </div>
                    <div class="col">
                        <label for="segundo_nome">Sobrenome:</label>
                        <input id="segundo_nome" class="form-control" type="text" name="sobrenome" placeholder="Sobrenome" required="required"/>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="cep">CEP:</label>
                        <input id="cep" class="form-control" type="text" name="cep" placeholder="CEP" required="required"/>
                    </div>
                    <div class="col">
                        <label for="rua">Rua, avenida,...:</label>
                        <input id="rua" class="form-control" type="text" name="rua" placeholder="Rua, avenida,..." required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="numero">Número:</label>
                        <input id="numero" class="form-control" type="text" name="numero" placeholder="Número" required="required"/>
                    </div>
                    <div class="col">
                        <label for="complemento">Complemento:</label>
                        <input id="complemento" class="form-control" type="text" name="complemento" placeholder="Complemento"/>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="horario_de_entrada">Horário de entrada:</label>
                        <input id="horario_de_entrada" class="form-control" type="time" name="horarioDeEntrada" placeholder="Horário de Entrada" required="required"/>

                    </div>
                    <div class="col">
                        <label for="horario_de_saida">Horário de saída:</label>
                        <input id="horario_de_saida" class="form-control" type="time" name="horarioDeSaida" placeholder="Horário de Saida" required="required"/>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="gasto">Gasto com transporte:</label>
                        <input id="gasto" class="form-control" type="number" name="gastoComTransporte" placeholder="Gasto com transporte" required="required"/>

                    </div>
                    <div class="col">
                        <label for="meioDeTransporte">Meio de transporte:</label>
                        <select id="meioDeTransporte" class="form-control" name="meioDeTransporte" required="required">
                            <option th:each="m : ${meiosDeTransporte}" th:value="${m.id}" th:text="${m.nome}">-</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="fretado">Fretado:</label>
                        <select id="fretado" class="form-control" name="fretado" required="required">
                            <option th:each="f : ${fretados}" th:value="${f.id}" th:text="${f.id}">-</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </main>
    <footer class="container mt-5">
        <p class="text-center text-secondary">2018 Todos os direitos reservados &copy;</p>
    </footer>
</body>
</html>