<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <title>Cadastro de fretados - Atento</title>
</head>
<body>
    <header class="border rounded">
        <h1 class="text-center ">Atento!</h1>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
                <form action="/mapa" method="post" class="border rounded p-5 mt-3">
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="fretado">Fretado</label>
                                <select name="fretado" id="fretado" class="form-control">
                                    <option th:each="fretado: ${fretados}" th:value="${fretado.id}" th:text="${fretado.id}">1</option>
                                </select>
                                <label for="funcionario">Funcionario</label>
                                <select id="funcionario">
                                    <option th:each="funcionario: ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nomeCompleto}">Nome</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </form>
                <table  class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Horário de entrada</th>
                        <th>Horário de saída</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Gabriel Ronei</td>
                        <td>X</td>
                        <td>20:00</td>
                        <td>4:00</td>
                    </tr>
                    <tr>
                        <td>Leonardo Formágio</td>
                        <td>Y</td>
                        <td>20:00</td>
                        <td>4:00</td>
                    </tr>
                    <tr>
                        <td>Matheus de Toledo</td>
                        <td>Z</td>
                        <td>20:00</td>
                        <td>4:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col mh-100 w-100 p-3">
                <div id="map" class="w-100 p-3" style="height: 500px;"></div>
            </div>
        </div>


    </main>

    <footer class="container mt-5">
        <p class="text-center text-secondary">2018 Todos os direitos reservados &copy;</p>
    </footer>
    <script src="/js/openlayers/OpenLayers.js"></script>
    <script>
        map = new OpenLayers.Map("map");
        map.addLayer(new OpenLayers.Layer.OSM());
        map.zoomToMaxExtent();
    </script>
</body>
</html>